<ng-template [ngIf]="(recipe | async)?.name">
  <img [src]="(recipe |async)?.imagePath" [alt]="(recipe |async)?.name" class="img-responsive">

  <h1>{{ (recipe |async)?.name }}</h1>

  <div class="btn-group" appDropdown *appAuthView="true">
    <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a (click)="onAddToShoppingList()">Add to Shopping List</a></li>
      <li><a routerLink="edit">Edit Recipe</a></li>
      <li><a (click)="onDelete()">Remove Recipe</a></li>
    </ul>
  </div>

  <p>{{ (recipe |async)?.description }}</p>
  <ul class="list-group">

    <li class="list-group-item" *ngFor="let ingredient of (recipe |async)?.ingredients">
      {{ ingredient.name }} - {{ ingredient.amount }}
    </li>
  </ul>
</ng-template>
