<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse in">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-container *appAuthView="false">
          <li routerLinkActive="active"><a routerLink="/auth/signup">Register</a></li>
          <li routerLinkActive="active"><a routerLink="/auth/signin">Login</a></li>
        </ng-container>
        <li *appAuthView="true"><a (click)="onLogOut()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
