/* You can add global styles to this file, and also import other style files */
$bootstrap-sass-asset-helper: true;
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

a {
  cursor: pointer
}


.form-group {
  .ng-invalid.ng-dirty {
    border: 1px solid $brand-danger;
  }

  .ng-valid.ng-dirty {
    border: 1px solid $brand-success;
  }

}
